# Entornos virtuales
.venv/
venv/

# Cachés de Python
__pycache__/
*.pyc

# Caché de pytest
.pytest_cache/

# Reportes y capturas generadas
reports/*.html
reports/*.png

# Configuración de editores
.vscode/
.idea/